name: Consultar Builds y Notificar a Discord

on:
  push:
    branches:
      - test-2  # Rama donde quieres ejecutar este flujo

jobs:
  notify-latest-build:
    name: Consultar Builds y Notificar a Discord
    runs-on: ubuntu-latest

    # Definir variables de entorno para todos los pasos del job
    env:
      EAS_ACCESS_TOKEN: ${{ secrets.EAS_TOKEN }}
      EXPO_TOKEN: ${{ secrets.EAS_TOKEN }}  # Usar el mismo token para ambos
      DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Install EAS CLI
        run: npm install -g eas-cli

      - name: Verificar versi贸n de EAS CLI
        run: eas --version  # Verifica la versi贸n de EAS CLI instalada

      - name: Verificar token de autenticaci贸n
        run: |
          echo "EAS_ACCESS_TOKEN: $EAS_ACCESS_TOKEN"
          echo "EXPO_TOKEN: $EXPO_TOKEN"  # Verifica que los tokens est谩n siendo cargados correctamente

      - name: Consultar el 煤ltimo build generado
        run: |
          # Consulta el 煤ltimo build generado para Android y guarda la respuesta en result.json
          eas build:list --limit 1 --platform android --json --non-interactive > result.json || exit 1

      - name: Verificar contenido de result.json
        run: cat result.json

      - name: Consultar URL del build y notificar a Discord
        run: |
          # Obtener el enlace al build
          BUILD_URL=$(jq -r '.artifacts.buildUrl' result.json)

          # Verifica si se obtuvo el enlace al build
          if [ -z "$BUILD_URL" ]; then
            echo "No se encontr贸 el enlace al build."
            exit 1
          fi
          
          # Enviar mensaje a Discord
          curl -X POST -H "Content-Type: application/json" \
            -d "{\"content\": \" Nueva build de preview generada para Android: $BUILD_URL\"}" \
            $DISCORD_WEBHOOK_URL
